[submodule "public"]
	path = public
	url = git@github.com:JavaBy/JavaBy.github.io.git
	branch = master
[submodule "themes/blackburn"]
	path = themes/blackburn
	url = git@github.com:JavaBy/blackburn.git
