{{ partial "header.html" . }}

<div class="header">
  <h1>{{ .Title }}</h1>
  <h2>{{ .Description }}</h2>
</div>
<div class="content">

  <a href="https://voxxeddays.com/minsk/?utm_source=jprof" target="_blank">
    <img src="/img/voxxeddays18.jpg" alt="VoxxedDays Minsk 2018, May 26"
         style="display: block;
                margin: 12px auto 0 auto;
                width: 400px;
                padding: 5px 0 0 0;"/>
  </a>

  {{ partial "post_meta.html" . }}

  {{ .Content }}

  {{ partial "prev_next_post.html" . }}

  {{ partial "disqus.html" . }}

</div>

{{ partial "footer.html" . }}
