{{ partial "header.html" . }}

<div class="header">
  <h1>{{ .Title }}</h1>
  <h2>{{ .Description }}</h2>
</div>
<div class="content">
  <a href="https://jfuture.dev/?utm_source=jprof.by" target="_blank">
    <img src="/img/jfuture2019.png" alt="JFuture 2019, Nov 16"
         style="display: block;
                margin: 12px auto 0 auto;
                width: 400px;
                padding: 5px 0 0 0;"/>
  </a>
  {{ partial "post_meta.html" . }}

  {{ .Content }}

  {{ partial "prev_next_post.html" . }}

  {{ partial "disqus.html" . }}

</div>

{{ partial "footer.html" . }}
