{{ partial "header.html" . }}

<div class="header">
  <h1>{{ .Title }}</h1>
  <h2>{{ .Site.Params.subtitle }}</h2>
</div>

<div class="content">
  <a href="https://jfuture.by/?utm_source=jprof.by" target="_blank">
    <img src="/img/jfuture.png" alt="JFuture 2018, Oct 13"
         style="display: block;
                margin: 12px auto 0 auto;
                width: 400px;
                padding: 5px 0 0 0;"/>
  </a>
  {{ range ( .Paginate (where .Data.Pages "Type" "post")).Pages }}
    {{ .Render "summary"}}
  {{ end }}

  {{ partial "pagination.html" . }}

</div>

{{ partial "footer.html" . }}
