{{ partial "header.html" . }}

<div class="header">
  <h1>{{ .Title }}</h1>
  <h2>{{ .Site.Params.subtitle }}</h2>
  <div class="jumbo">
    <p>
      We are a group of engineers working with Java technologies in different domains and companies.
      We share a passion to learn and to spread the knowledge.
      We do <a href="https://jprof.by/post">meetups</a> and <a href="https://jfuture.by">conferences</a>.
    </p>
    <p>
      We are the Java Professionals BY.
    </p>
    <p>
      Come <a href="https://eventspace.by">visit</a> us in Minsk.
    </p>
  </div>
</div>

<div class="content">
  <a href="https://jfuture.dev/?utm_source=jprof.by" target="_blank">
    <img src="/img/jfuture2019.png" alt="JFuture 2019, Nov 16"
         style="display: block;
                margin: 12px auto 0 auto;
                width: 400px;
                padding: 5px 0 0 0;"/>
  </a>
  {{ range ( .Paginate (where .Data.Pages "Type" "post")).Pages }}
    {{ .Render "summary"}}
  {{ end }}

  {{ partial "pagination.html" . }}

</div>

{{ partial "footer.html" . }}
