{{ partial "header.html" . }}

<div class="header">
  <h1>{{ .Title }}</h1>
  <h2>{{ .Site.Params.subtitle }}</h2>
  <div class="jumbo">
    <p>
      We are a group of engineers working with Java technologies in different domains and companies.
      We share a passion to learn and to spread the knowledge.
      We do <a href="https://jprof.by/post">meetups</a> and <a href="https://jfuture.by">conferences</a>.
    </p>
    <p>
      We are the Java Professionals BY.
    </p>
  </div>
</div>

<div class="content">
  {{ range ( .Paginate (where .Data.Pages "Type" "post")).Pages }}
    {{ .Render "summary"}}
  {{ end }}

  {{ partial "pagination.html" . }}

</div>

{{ partial "footer.html" . }}
